## Constant features

Constant features are those that show the same value, just one value, for all the observations of the dataset. This is, the same value for all the rows of the dataset. These features provide no information that allows a machine learning model to discriminate or predict a target.

Identifying and removing constant features, is an easy first step towards feature selection and more easily interpretable machine learning models.

Here I will demonstrate how to identify constant features using the Santander Customer Satisfaction dataset from Kaggle. 

To identify constant features, we can use the VarianceThreshold function from sklearn, or we can code it ourselves. I will show 2 snippets of code with both procedures.

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import VarianceThreshold

## Removing constant features

In [8]:
file_path = '/Users/wontaek/Documents/Lecture_dataset/Santander_customer_satisfaction/train.csv'
data = pd.read_csv(
    file_path,
    nrows=50000
)
data.shape

(50000, 371)

In [9]:
# check the presence of null data.
# The snippets below will be able to compare nan values between 2 columns,
# so in principle missing data are not a problem.
# in any case, we see that there are no missing data in this dataset

[col for col in data.columns if data[col].isnull().sum() > 0]

[]

### important

In all feature selection procedures, it is good practice to select the features by examining only the training set. And this is to avoid overfitting.

In [10]:
# separate dataset into train and test

X_train, X_test, y_train, y_test = train_test_split(
    data.drop(labels=['TARGET'], axis=1),
    data['TARGET'],
    test_size=0.3,
    random_state=0
)

X_train.shape, X_test.shape

((35000, 370), (15000, 370))

### Using variance threshold from sklearn

Variance threshold from sklearn is a simple baseline approach to feature selection. It removes all features which variance doesn’t meet some threshold. By default, it removes all zero-variance features, i.e., features that have the same value in all samples.

In [14]:
X_train.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
17967,35993,2,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,89769.81
32391,64721,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,126531.21
9341,18794,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,65613.36
7929,15983,2,47,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,59580.39
46544,93096,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,75652.23

In [12]:
# variance가 0인 것을 찾는 과정

sel = VarianceThreshold(threshold=0)
sel.fit(X_train)  # fit finds the features with zero variance

VarianceThreshold(threshold=0)

In [16]:
sel.get_support()[0:10]

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [10]:
# get_support is a boolean vector that indicates which features are retained
# if we sum over get_support, we get the number of features that are not constant
sum(sel.get_support())

312

In [17]:
# another way of finding non-constant features is like this:
len(X_train.columns[sel.get_support()])

312

In [18]:
# finally we can print the constant features

print(
    len([
        x for x in X_train.columns
        if x not in X_train.columns[sel.get_support()]
    ]))

[x for x in X_train.columns if x not in X_train.columns[sel.get_support()]]

58

['ind_var2_0',
 'ind_var2',
 'ind_var13_medio_0',
 'ind_var13_medio',
 'ind_var27_0',
 'ind_var28_0',
 'ind_var28',
 'ind_var27',
 'ind_var34_0',
 'ind_var34',
 'ind_var41',
 'ind_var46_0',
 'ind_var46',
 'num_var13_medio_0',
 'num_var13_medio',
 'num_var27_0',
 'num_var28_0',
 'num_var28',
 'num_var27',
 'num_var34_0',
 'num_var34',
 'num_var41',
 'num_var46_0',
 'num_var46',
 'saldo_var13_medio',
 'saldo_var28',
 'saldo_var27',
 'saldo_var34',
 'saldo_var41',
 'saldo_var46',
 'delta_imp_amort_var34_1y3',
 'delta_imp_reemb_var33_1y3',
 'delta_num_reemb_var33_1y3',
 'imp_amort_var18_hace3',
 'imp_amort_var34_hace3',
 'imp_amort_var34_ult1',
 'imp_reemb_var13_hace3',
 'imp_reemb_var17_hace3',
 'imp_reemb_var33_hace3',
 'imp_reemb_var33_ult1',
 'imp_trasp_var17_out_hace3',
 'imp_trasp_var33_out_hace3',
 'imp_venta_var44_hace3',
 'num_var2_0_ult1',
 'num_var2_ult1',
 'num_meses_var13_medio_ult3',
 'num_reemb_var13_hace3',
 'num_reemb_var17_hace3',
 'num_reemb_var33_hace3',
 'num_reemb_var33_ult1',
 'num_trasp_var17_out_hace3',
 'num_trasp_var33_out_hace3',
 'num_venta_var44_hace3',
 'saldo_var2_ult1',
 'saldo_medio_var13_medio_hace2',
 'saldo_medio_var13_medio_hace3',
 'saldo_medio_var13_medio_ult1',
 'saldo_medio_var13_medio_ult3']

In [20]:
# let's visualise the values of one of the constant variables
# as an example

X_train['ind_var2_0'].unique()

array([0])

We then use the transform function to reduce the training and testing sets. See below.

In [21]:
X_train = sel.transform(X_train)
X_test = sel.transform(X_test)

X_train.shape, X_test.shape

((35000, 312), (15000, 312))

### Coding it ourselves

In the following cells, I will show an alternative to the VarianceThreshold function of sklearn.

In [22]:
# load the dataset again
data = pd.read_csv(file_path, nrows=50000)

# separate train and test
X_train, X_test, y_train, y_test = train_test_split(
    data.drop(labels=['TARGET'], axis=1),
    data['TARGET'],
    test_size=0.3,
    random_state=0)

X_train.shape, X_test.shape

((35000, 370), (15000, 370))

In [23]:
# short and easy: find constant features
# in this case, all features are numeric, so this will suffice
# 상수니까 분산은 0 이겠지. 분산이 0인 것을 거른다.

constant_features = [
    feat for feat in X_train.columns if X_train[feat].std() == 0
]

len(constant_features)

58

In [24]:
# we can then drop these columns from the train and test sets
X_train.drop(labels=constant_features, axis=1, inplace=True)
X_test.drop(labels=constant_features, axis=1, inplace=True)

X_train.shape, X_test.shape

((35000, 312), (15000, 312))

We see how by removing constant features, we managed to reduced the feature space quite a bit.

Both varianceThreshold and the snippet of code I provided work with numerical variables. What can we do to find constant categorical variables?

One alternatively is to encode the categories as numbers and then use the code above. But then you will put effort in pre-processing variables that are not informative.

Alternatively, you can use the code below.

### Removing constant features for categorical variables

In [25]:
# load the dataset again
data = pd.read_csv(file_path, nrows=50000)

# separate train and test
X_train, X_test, y_train, y_test = train_test_split(
    data.drop(labels=['TARGET'], axis=1),
    data['TARGET'],
    test_size=0.3,
    random_state=0)

X_train.shape, X_test.shape

((35000, 370), (15000, 370))

In [26]:
# I will transform all these numeric features into
# categorical features for the demonstration
# to simulate that they are categorical
# 한 마디로 다 'O' type으로 바꾸고, 거기서 unique() 값이 1인 것만 찾으면 됨 - 어차피 분산이 0인 것은 값이 다 같다는 걸 의미하니까.

X_train = X_train.astype('O')
X_train.dtypes

ID                               object
var3                             object
var15                            object
imp_ent_var16_ult1               object
imp_op_var39_comer_ult1          object
imp_op_var39_comer_ult3          object
imp_op_var40_comer_ult1          object
imp_op_var40_comer_ult3          object
imp_op_var40_efect_ult1          object
imp_op_var40_efect_ult3          object
imp_op_var40_ult1                object
imp_op_var41_comer_ult1          object
imp_op_var41_comer_ult3          object
imp_op_var41_efect_ult1          object
imp_op_var41_efect_ult3          object
imp_op_var41_ult1                object
imp_op_var39_efect_ult1          object
imp_op_var39_efect_ult3          object
imp_op_var39_ult1                object
imp_sal_var16_ult1               object
ind_var1_0                       object
ind_var1                         object
ind_var2_0                       object
ind_var2                         object
ind_var5_0                       object
ind_var5                         object
ind_var6_0                       object
ind_var6                         object
ind_var8_0                       object
ind_var8                         object
                                  ...
saldo_medio_var12_ult3           object
saldo_medio_var13_corto_hace2    object
saldo_medio_var13_corto_hace3    object
saldo_medio_var13_corto_ult1     object
saldo_medio_var13_corto_ult3     object
saldo_medio_var13_largo_hace2    object
saldo_medio_var13_largo_hace3    object
saldo_medio_var13_largo_ult1     object
saldo_medio_var13_largo_ult3     object
saldo_medio_var13_medio_hace2    object
saldo_medio_var13_medio_hace3    object
saldo_medio_var13_medio_ult1     object
saldo_medio_var13_medio_ult3     object
saldo_medio_var17_hace2          object
saldo_medio_var17_hace3          object
saldo_medio_var17_ult1           object
saldo_medio_var17_ult3           object
saldo_medio_var29_hace2          object
saldo_medio_var29_hace3          object
saldo_medio_var29_ult1           object
saldo_medio_var29_ult3           object
saldo_medio_var33_hace2          object
saldo_medio_var33_hace3          object
saldo_medio_var33_ult1           object
saldo_medio_var33_ult3           object
saldo_medio_var44_hace2          object
saldo_medio_var44_hace3          object
saldo_medio_var44_ult1           object
saldo_medio_var44_ult3           object
var38                            object
Length: 370, dtype: object

In [27]:
# and now find those columns that contain only 1 label:
constant_features = [
    feat for feat in X_train.columns if len(X_train[feat].unique()) == 1
]

len(constant_features)

58

Same as before, we observe 58 variables that show only 1 value across all the observations of the dataset. We can appreciate the usefulness of looking out for constant variables at the beginning of any modeling exercise.